@import 'colors';


.carousel {
	border-bottom: 2px solid $brown;
}

.carousel-inner, .carousel-inner>.item {
	height: 50vh;
	background-color: $trans-dgrey;
}
.carousel-inner>.item {
	background-color: transparent;
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
}