$green: #346d33;

$brown: #2b1d02;
$brown-light: #917047;

$red-dark: #9a1313;

$black: #000;
$grey: #bababa;
$white: #fff;

$trans-lgrey: rgba(208, 208, 208, 0.9);
$trans-dgrey: rgba(86, 86, 86, 0.8);