@media(max-width:400px){
	.wrapper > .container {
		padding-left: 4px;
		padding-right: 4px;
		margin:0 4px;
	}
}

@media(max-width:450px){
	.google-map{
		max-height: 300px;
	}
	section {
		padding: 1% 0;
	}
}

@media(max-width: 600px) {
	.carousel-inner>.item {
		background-size: cover;
	}
}

@media (min-width: 992px) {
    .modal-lg {
        width: 980px;
    }
}