@import 'colors';


.fb-albums {
    list-style-type: none;
    li {
        display: none;
    }
    a.thumbnail {
        border: none;
        background: none;
    }
}

.modal-body .img-responsive {margin: 0 auto;}
.modal-content {background-color: $dgrey;}