.p-header {
	span {
		display: block;
	}
	font-size: 1.2em;
	margin-bottom: 8px;
}


div.hr {
	
	margin: 25px auto;
	border-bottom: 1px solid;
}
div.hr.hr-70 {width: 70%;}
div.hr.hr-90 {width: 90%;}

.pointer {cursor: pointer;}

.font-underline {text-decoration: underline;}