@import 'colors';


.fb-albums {
    list-style-type: none;
    padding: 0;
    li {display: none;}
    a.thumbnail {
		border-color: $trans-dgrey;
		img {height: 100%;}
    }
}

.modal-body .img-responsive {margin: 0 auto;}
.modal-content {background-color: $dgrey;}