<head>
	<title>{% if page.title %}{{ site.title_base }} {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width" />
	<meta name="description" content="{{ site.description }}" />

	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
	<link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{{ "/css/hint.css" | prepend: site.baseurl }}" />
	<link rel="stylesheet" href="{{ "/css/bootstrap.css" | prepend: site.baseurl }}" />
	<link rel="stylesheet" href="{{ "/css/hbh.css" | prepend: site.baseurl }}" />
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

	<script src="/scripts/jquery-1.11.1.js"></script>
	<script src="/scripts/bootstrap.js"></script>
</head>