---
layout: default
---
<div id="documentation-header">
    <div class="container"><h1>The Slipspace Blog</h1></div>
</div>
<div id="press-container" class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="press-nav">
                <li>
                    <ul class="nav nav-stacked">
                        <li><a href="/blog">Home</a></li>
                    </ul>
                </li>
                <li class="item heading">Recent</li>
                <li>
                    <ul class="nav nav-stacked">
                        {% for post in site.posts limit:10 %}
                            {% if post.title != 'Blog' %}
                                <li><a href="{{post.url}}">{{post.title}}<span class="sub"> - {{post.dateText}}</span></a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            {{ content }}
        </div>
    </div>
</div>