---
layout: default
---
<div id="documentation-header">
    <div class="container"><h1>Press</h1></div>
</div>
<div id="press-container" class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="press-nav">
                <li>
                    <ul class="nav nav-stacked">
                        <li><a href="/press">Home</a></li>
                    </ul>
                </li>
                <li class="item heading">Recent</li>
                <li>
                    <ul class="nav nav-stacked">
                        {% for pressRelease in site.press limit:10 %}
                            {% if pressRelease.title != 'Press' %}
                                <li><a href="{{pressRelease.url}}">{{pressRelease.title}}<span class="sub"> - {{pressRelease.date}}</span></a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            {{ content }}
        </div>
    </div>
</div>